#!/bin/bash

# put your own Bluesky and GitHub credentials below
# this example is not real! do NOT check in your own authentication credentials
# put `env.sh` in your `.gitignore` file

export ATP_PDS_HOST=your_bluesky_host_here
export ATP_AUTH_HANDLE=your_bluesky_handle_here
export ATP_AUTH_PASSWORD=your_bluesky_password_here
export GH_TOKEN=your_GitHub_token_here
